* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #5150fd;
}

.formTrip {
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  .Admin_Form{
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  .Admin_Daily_Allowance, .Admin_Car_Mileage{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Admin_Selector_Wrapper{
    display: flex;
    flex-direction: row;
  }
  .Admin_Form_LIST{
    margin-top: 15px;
  }
  .Admin_Form_Label{
    margin-bottom: 10px;
  }
  
  .Admin_Receipt_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items to start and end */
    align-items: center; /* Vertically align items to the center */
    margin-top: 20px;
  }

  .Admin_receips_list_wrapper{
    margin-top: 10px;
  }
  .Admin_receips_list_buttons{
    margin-top: 5px;
  }

  .edit_receipt {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .TripDate,
  .TripExpenses,
  .DailyAllowance,
  .CarMileage {
    margin-bottom: 20px;
  }
  
  .TripExpenses_Header {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input:focus {
    outline: none;
  }
  
  
  .Button_NewExpense, .Button_Count, .Admin_Form-Edit {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .Admin_Form-Edit{
    margin-left: 10px;
  }
  .Button_Remove{
    padding: 8px 15px;
    background-color: #dd0445;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
 .Button_NewExpense:hover, .Button_Count:hover, .Admin_Form-Edit:hover {
    background-color: #0056b3;
  }
  .Button_Remove:hover{
    background-color: #a80637;
  }
  
  .btn-submit, .Admin_Form-submit {
    background-color: #28a745;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-top: 50px;
  }
  
  .btn-submit:hover, .Admin_Form-submit:hover {
    background-color: #218838;
  }
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #7b7b93;
    border-radius: 3px;
  }
  .Button_NewExpense,
  .Button_Remove{
    margin-top: 10px;
  }
  .button_generate{
    padding: 3px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .button_generate:hover{
    background-color: #0056b3;
  }
  .DailyAllowance_box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .DailyAllowance_box:checked::before {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 14px;
    color: #28a745;
  }
  .DailyAllowance_Wrapper,
  .CarMileage_Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .Expense_Label, .Label_TripEnd{
    margin-top: 15px;
  }
  .Label_TripStart, .Label_TripEnd{
    font-weight: 700;
  }
  .Expenses_Selector, .Admin_Selector {
    width: 400px;
    padding: 0 3px;
    height: 35px;
    border: 1px solid #7b7b93;
    border-radius: 3px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s;
  }

  
  .Expenses_Selector:hover,
  .Expenses_Selector:focus {
    border-color: #007bff;
  } 
  .Error {
    display: flex;
    color: #ff0000; 
    font-size: 14px;
    margin-top: 4px;
    background-color: #ffecec;
    padding: 4px 8px; 
    border-radius: 4px; 
    margin-top: 5px;
  }
  .Button_Count{
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  .CarMileage_InputGroup{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #7b7b93;
    margin: 10px 0;
    border-radius: 3px;
    height: 35px;
  }
  .suffix{
      position: relative;
      color: #7b7b93;
      padding: 7px 15px 15px 0;
  }
  .Input_Description{
    border: 1px solid #7b7b93;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
  }
  .Input_CarMillage{
    border: none;
    width: 100%;
    margin-left: 10px;
    
  }
  .Limits_Container{
    display: flex;
    flex-direction: row;
  }
  .Input_Amount,
  .Input_DailyAllowance,
  .input_Admin,
  .input_receipt,
  .input_Total_Reimbursement,
  .input_Distance,
  .input_Days,
  .Admin__Input_receips_list{
    border: 1px solid #7b7b93;
    width: 400px;
    padding: 8px;
    border-radius: 3px;
  }
  .input_receipt{
    margin-top: 10px;
  }
  .Input_Description:focus,  
  .Input_Description:hover,
  .Input_Amount:focus,
  .Input_Amount:hover,
  .CarMileage_InputGroup:hover,
  .CarMileage_InputGroup:focus
  {
    border: 1px solid #003cff;
  }
  .Label_Amount,
  .Label_Description{
    margin-top: 7px;
  }

  
 